@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
  display: grid;
  grid-template-columns: auto; }

main {
  font-family: 'Roboto', sans-serif; }

.bg1 {
  background-color: #222222; }

.bg2 {
  background-color: #f2f4f7; }

.disabled {
  filter: blur(0.8px);
  opacity: 0.3; }

footer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 0; }
  footer .footer__imgs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 32px; }
    footer .footer__imgs .img1 {
      width: 60px; }
    footer .footer__imgs .img2 {
      width: 240px; }
  footer .footer__descrip {
    text-align: center;
    padding: 16px;
    max-width: 420px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: white; }

header {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding: 64px; }
  header a h1 {
    font-size: 64px;
    color: #f7df1e;
    transition: all 1s; }
  header a h1:hover {
    text-shadow: 1px 1px 15px black; }

#js__main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 64px;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 64px; }
  #js__main h2 {
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 42px;
    color: #f7df1e; }
  #js__main .clases1a16 {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 64px;
    grid-column-gap: 32px; }
    #js__main .clases1a16 .clases {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      gap: 32px;
      padding: 64px;
      min-height: 460px;
      background-color: rgba(0, 0, 0, 0.9);
      transition: all .8s; }
      #js__main .clases1a16 .clases .clases__title {
        font-size: 32px;
        color: #f7df1e; }
      #js__main .clases1a16 .clases .clases__descrip {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        gap: 32px;
        font-size: 20px;
        color: white; }
      #js__main .clases1a16 .clases .clases__btn {
        align-self: flex-end;
        text-align: center; }
        #js__main .clases1a16 .clases .clases__btn .clases__link {
          transition: all .3s;
          background-color: #f7df1e;
          padding: 8px 16px;
          color: black;
          font-size: 16px;
          font-weight: 600; }
      #js__main .clases1a16 .clases .clases__link:hover {
        border: solid 2px #f7df1e;
        background-color: black;
        color: #f7df1e; }
    #js__main .clases1a16 .clases:hover {
      background-color: black; }

#header__clases {
  max-width: 1400px;
  margin: 0 auto; }
  #header__clases .clases__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 32px; }
    #header__clases .clases__nav .nav__logo .logo__img {
      width: 120px; }
    #header__clases .clases__nav .nav__list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      list-style-type: none; }
      #header__clases .clases__nav .nav__list .nav__item .nav__link {
        font-family: 'Roboto' sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #f7df1e;
        text-decoration: none;
        transition: all .3s; }
      #header__clases .clases__nav .nav__list .nav__item .nav__link:hover {
        color: white; }

#clases__main .clases__section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 64px 0 0; }
  #clases__main .clases__section .clases__title {
    padding: 32px;
    background-color: #222222;
    font-size: 32px;
    color: #f7df1e; }
  #clases__main .clases__section .clases__article {
    padding: 64px 0; }
    #clases__main .clases__section .clases__article .consignas__list {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      gap: 64px;
      list-style-type: none;
      padding: 64px;
      background-color: #222222; }
      #clases__main .clases__section .clases__article .consignas__list .consignas__item {
        padding: 32px;
        border: solid 3px #f7df1e;
        color: white;
        font-size: 20px; }

#clases__main .clases__anotaciones {
  max-width: 1400px;
  margin: 0 auto;
  padding: 64px 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 64px; }
  #clases__main .clases__anotaciones .clases__title {
    padding: 32px;
    background-color: #222222;
    font-size: 32px;
    color: #f7df1e; }
  #clases__main .clases__anotaciones .article__anotaciones {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    background-color: #222222;
    padding: 64px; }
    #clases__main .clases__anotaciones .article__anotaciones .anotaciones__temario {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      gap: 32px;
      border: solid 3px #f7df1e;
      padding: 64px; }
      #clases__main .clases__anotaciones .article__anotaciones .anotaciones__temario .temario__title {
        color: #f7df1e;
        font-size: 32px;
        font-weight: 600; }
      #clases__main .clases__anotaciones .article__anotaciones .anotaciones__temario .temario__list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        gap: 46px;
        list-style-type: none; }
        #clases__main .clases__anotaciones .article__anotaciones .anotaciones__temario .temario__list .temario__item {
          color: white;
          font-size: 22px;
          font-weight: 400; }
    #clases__main .clases__anotaciones .article__anotaciones .clase__tema {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      gap: 32px;
      border: solid 3px white;
      padding: 64px 16px; }
      #clases__main .clases__anotaciones .article__anotaciones .clase__tema h4 {
        color: #f7df1e;
        font-size: 22px;
        font-weight: 600; }
      #clases__main .clases__anotaciones .article__anotaciones .clase__tema p {
        color: white;
        font-size: 16px;
        font-weight: 400; }
        #clases__main .clases__anotaciones .article__anotaciones .clase__tema p span {
          font-weight: 600;
          font-size: 18px;
          color: #f7df1e; }
      #clases__main .clases__anotaciones .article__anotaciones .clase__tema img {
        width: 540px; }

.div--column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 32px; }
