.clase2__tema1{
    grid-row-end: span 4;
}
.clase2__tema2{
    grid-row-end: span 8;
}
.clase2__tema4{
    grid-row-end: span 5;
}
.clase2__tema5{
    grid-column-end: span 2;
    text-align: center;
    max-width: 100%;
    
}