#header__clases{
    max-width: 1400px;
    margin: 0 auto;
    .clases__nav{
        @include flex(column, nowrap, space-between, center, 32px);
        .nav__logo{
            .logo__img{
                width: 120px;
            }
        }
        .nav__list{
            @include flex(row, nowrap, space-between, center, 32px);
            list-style-type: none;
            .nav__item{
                .nav__link{
                    font-family: 'Roboto' sans-serif;
                    font-size: $font24;
                    font-weight: 400;
                    color: rgba(247, 223, 30, 1);
                    text-decoration: none;
                    transition: all .3s;
                }
                .nav__link:hover{
                    color: white;
                }
            }
        }
    }
}
#clases__main{
    .clases__section{
        max-width: 1400px;
        margin: 0 auto;
        padding: 64px 0 0;
        .clases__title{
            padding: 32px;
            background-color: rgb(34, 34, 34);
            font-size: $font32;
            color: rgba(247, 223, 30, 1);
        }
        .clases__article{
            padding: 64px 0;
            .consignas__list{
                @include flex(column, nowrap, space-between, stretch, 64px);
                list-style-type: none;
                padding: 64px;
                background-color: rgb(34, 34, 34);
                .consignas__item{
                    padding: 32px;
                    border: solid 3px rgba(247, 223, 30, 1);
                    color: white;
                    font-size: $font20;
                    ul{
                        list-style: none;
                        @include flex(column, nowrap, space-between, stretch, 8px);
                        padding: 32px 0;
                    }
                    span{
                        color: rgba(247, 223, 30, 1);
                        font-size: $font18;
                    }
                }
            }
        }
    }
}
#clases__main{
    .clases__anotaciones{
        max-width: 1400px;
        margin: 0 auto;
        padding: 64px 0;
        display: grid;
        grid-auto-columns: auto auto;
        grid-row-gap: 64px;
        .clases__title{
            padding: 32px;
            background-color: rgb(34, 34, 34);
            font-size: $font32;
            color: rgba(247, 223, 30, 1);
        }
        .article__anotaciones{
            display: grid;
            grid-template-rows: auto; 
            grid-template-columns: repeat(2, 1fr); 
            grid-column-gap: 64px;
            grid-row-gap: 64px;
            background-color: rgb(34, 34, 34);
            padding: 64px;
            .anotaciones__temario{
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: 1fr 11fr;
                border: solid 3px rgba(247, 223, 30, 1);
                padding: 64px;
                grid-row-end: span 2;
                .temario__title{
                    color: rgba(247, 223, 30, 1);
                    font-size: $font32;
                    font-weight: 600;
                }
                .temario__list{
                    @include flex(column, nowrap, space-between, stretch, 0);
                    list-style-type: none;
                    .temario__item{
                        color: white;
                        font-size: $font28;
                        font-weight: 600;
                    }
                }
            }
            .clase__tema{
                @include flex(column, nowrap, space-between, stretch, 32px);
                border: solid 3px white;
                padding: 64px 16px;
                h4{
                    color: rgba(247, 223, 30, 1);
                    font-size: $font26;
                    font-weight: 600;
                }
                p{
                    color: white;
                    font-size: $font18;
                    font-weight: 400;
                    line-height: 28px;
                    span{
                        font-weight: 600;
                        font-size: $font20;
                        color: rgba(247, 223, 30, 1);
                    }
                }
                img{
                    width: 540px;
                }
                ul{
                    @include flex(column, nowrap, space-between, stretch, 16px);
                    list-style-type: none;
                    li{
                        color: white;
                        font-size: $font18;
                        font-weight: 400;
                    }
                }
            }
        }

    }
}

.div--column{
    @include flex(column, nowrap, space-between, stretch, 32px);
}