#ejemplo{
  display: none;
    #tarjeta{
        .corazon{
            font-size: $font80;
        }
        .rojo{
            color: red;
        }
        .negro{
            color: black;
        }
    }
}

