#js__main{
    max-width: 1400px;
    margin: 0 auto;
    padding: 64px;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 64px;
    h2{
        padding: 32px;
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 42px;
        color: rgba(247, 223, 30, 1);
    }
    .clases1a16{
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 64px;
        grid-column-gap: 32px;
        .clases{
            @include flex(column, nowrap, space-between, stretch, 32px);
            padding: 64px;
            min-height: 460px;
            background-color: rgba(0, 0, 0, 0.9);
            transition: all .8s;
            .clases__title{
                font-size: 32px;
                color: rgba(247, 223, 30, 1);
            }
            .clases__descrip{
                @include flex(column, nowrap, space-between, stretch, 32px);
                font-size: 20px;
                color: white;
            }
            .clases__btn{
                align-self: flex-end;
                text-align: center;
                .clases__link{
                    transition: all .3s;
                    background-color:  rgba(247, 223, 30, 1);
                    padding: 8px 16px;
                    color: black;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .clases__link:hover{
                border: solid 2px rgba(247, 223, 30, 1);
                background-color:  black;
                color: rgba(247, 223, 30, 1);
            }
        }
        .clases:hover{
            background-color: rgb(0, 0, 0);
        }
    }
}
