/* Font Sizes */
$font80: 8em;
$font64: 6.4em;
$font42: 4.2em; 
$font32: 3.2em; 
$font28: 2.8em;
$font26: 2.6em; 
$font24: 2.4em; 
$font22: 2.2em; 
$font20: 2.0em; 
$font18: 1.8em; 
$font16: 1.6em;
 
